{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron text-center" style="padding: 1rem;">
                <h2>Welcome to FOSDEM 2021!</h2>
            </div>
        </div>
    </div>
    <div class="row mt-3 fosdem-description">
        <div class="col">
            <p>
                All stands at FOSDEM 2021. If you want to see them per theme, you can go to <a href="/themes/">the themes page</a>.
            </p>
        </div>
    </div>
    <div class="row mt-4 fosdem-stands">
        {{ range .Pages }}
        {{ if .Params.show_on_overview }}
        <div class="col-sm-3">
            <div class="card mb-3 border-0">
                {{ if (fileExists (path.Join "/static/" .Params.logo)) -}}
                    <a href="{{ .Permalink }}"><img src="{{ .Params.logo | relURL }}" class="card-img border-0" alt="{{ .Params.title }} logo" /></a>
                {{ else }}
                    <a href="{{ .Permalink }}"><img src="/img/empty_stand_logo.jpg" class="card-img border-0" alt="{{ .Params.title }} logo" /></a>
                {{- end }}
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ .Permalink }}">{{ .Params.title }}</a></h5>
                    <ul class="list-unstyled">
                    {{ range (.GetTerms "themes") }}
                        <li><span class="material-icons md-18 mr-1">category</span> <a href="{{ .Permalink }}">{{ .LinkTitle }} theme</a></li>
                    {{ end }}
                    </ul>
                    {{ if .Params.overview }}
                    <p class="card-text">{{ .Params.overview | truncate 200 "..." | plainify }}</p>
                    {{ else }}
                    <p class="card-text">{{ .Params.description | truncate 200 "..." | plainify }}</p>
                    {{ end }}
                    <ul class="list-unstyled">
                    {{ if .Params.Chatroom }}
                        <li><span class="material-icons md-18 mr-1">comment</span> <a href="https://matrix.to/#/#{{ .Params.Chatroom }}-stand:fosdem.org?web-instance[element.io]=chat.fosdem.org">Join the conversation!</a></li>
                        <li><span class="material-icons md-18 mr-1">event</span> <a href="https://fosdem.org/2021/schedule/room/s{{ .Params.Chatroom }}/">{{ .Params.title }} stand events @ FOSDEM</a></li>
                    {{ else }}
                        <li><span class="material-icons md-18 mr-1">comment</span> <a href="https://matrix.to/#/#{{ .File.TranslationBaseName }}-stand:fosdem.org?web-instance[element.io]=chat.fosdem.org">Join the conversation!</a></li>
                        <li><span class="material-icons md-18 mr-1">event</span> <a href="https://fosdem.org/2021/schedule/room/s{{ .File.TranslationBaseName }}/">{{ .Params.title }} stand events @ FOSDEM</a></li>
                    {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        {{ end }}
    {{ end }}
    </div>
</div>
{{ end }}