{{ define "title" }}
{{ .Parent.Title }} - {{ .Title }}
{{ end }}
{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {{ range (.Parent.GetTerms "themes") }}
                        <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                    {{ end }}
                    <li class="breadcrumb-item"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></li>
                    {{ if .Title }}
                    <li class="breadcrumb-item active" aria-current="page"> {{ .Title }} </li>
                    {{ else }}
                    <li class="breadcrumb-item active" aria-current="page"> {{ .File.TranslationBaseName }} </li>
                    {{ end }}
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}