{{ define "title" }}
{{ range (.GetTerms "themes") -}}
{{ .LinkTitle }} - 
{{ end -}}
{{ .Params.Title }}
{{ end }}
{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb fosdem-breadcrumb">
                    {{ range (.GetTerms "themes") }}
                        <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                    {{ end }}
                    <li class="breadcrumb-item active" aria-current="page"> {{ .Params.Title }} </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron text-center" style="padding: 1rem;">
                <h2>Welcome to the {{ .Params.Title }} stand!</h2>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <p>{{ .Params.Description | safeHTML }}</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-8">
            <div class="container mx-lg-n3">
                <div class="row">
                    <div class="col">
                        <h2>{{ .Params.Title }} @ FOSDEM</h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        {{ .Params.Showcase | safeHTML }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" id="stand-at-fosdem">
                <div class="card-body">
                    <h5 class="card-title">Welcome to the {{ .Params.Title }} stand</h5>
                    <ul class="list-group list-group-flush">
                        {{ if .Params.Chatroom }}
                        <li class="list-group-item"><span class="material-icons md-18 mr-1">comment</span> <a href="https://matrix.to/#/#{{ .Params.Chatroom }}-stand:fosdem.org?web-instance[element.io]=chat.fosdem.org">Join the conversation!</a></li>
                        <li class="list-group-item"><span class="material-icons md-18 mr-1">theaters</span> <a href="https://video.fosdem.org/2023/stands/{{ .Params.Chatroom }}">Videos from {{.Params.Title}}</a></li>
                        <li class="list-group-item"><span class="material-icons md-18 mr-1">event</span> <a href="https://fosdem.org/2023/schedule/room/s{{ .Params.Chatroom }}/">{{ .Params.title }} stand events @ FOSDEM</a></li>
                        {{ else }}
                        <li class="list-group-item"><span class="material-icons md-18 mr-1">comment</span> <a href="https://matrix.to/#/#{{ .File.TranslationBaseName }}-stand:fosdem.org?web-instance[element.io]=chat.fosdem.org">Join the conversation!</a></li>
                        <li class="list-group-item"><span class="material-icons md-18 mr-1">theaters</span> <a href="https://video.fosdem.org/2023/stands/{{ .File.TranslationBaseName }}">Videos from {{.Params.Title}}</a></li>
                        <li class="list-group-item"><span class="material-icons md-18 mr-1">event</span> <a href="https://fosdem.org/2023/schedule/room/s{{ .File.TranslationBaseName }}/">{{ .Params.title }} stand events @ FOSDEM</a></li>
                        {{ end }}
                        {{ range .Pages }}
                        {{ if .Params.title }}
                        <li class="list-group-item"><a href="{{ .Permalink }}">{{ .Params.title }}</a></li>
                        {{ else }}
                        <li class="list-group-item"><a href="{{ .Permalink }}">{{ .File.TranslationBaseName }}</a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ if isset .Params "new_this_year" }}
    <div class="row mt-4">
        <div class="col">
            <h2>{{ .Params.Title }} in 2023</h2>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            {{ .Params.New_this_year | safeHTML }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}