{{ define "title" }}
{{ range (.GetTerms "themes") -}}
{{ .LinkTitle }} - 
{{ end -}}
{{ .Params.Title }}
{{ end }}
{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb fosdem-breadcrumb">
                    {{ range (.GetTerms "themes") }}
                        <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                    {{ end }}
                    <li class="breadcrumb-item active" aria-current="page"> {{ .Params.Title }} </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Welcome to the {{ .Params.Title }} Stand!</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <p>{{ .Params.Description | safeHTML }}</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-8">
            <div class="container mx-lg-n3">
                <div class="row">
                    <div class="col">
                        <h2>{{ .Params.Title }} @ FOSDEM</h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        {{ .Params.Showcase | safeHTML }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">The {{ .Params.Title }} Stand</h5>
                    <ul class="list-group list-group-flush">
                        {{ if .Params.Chatroom }}
                        <li class="list-group-item"><a href="https://chat.fosdem.org/#/room/#{{ .Params.Chatroom }}-stand:fosdem.org">Chatroom</a></li>
                        <li class="list-group-item"><a href="https://video.fosdem.org/2021/stands/{{ .Params.Chatroom }}">Videos</a></li>
                        {{ else }}
                        <li class="list-group-item"><a href="https://chat.fosdem.org/#/room/#{{ .File.TranslationBaseName }}-stand:fosdem.org">Chatroom</a></li>
                        <li class="list-group-item"><a href="https://video.fosdem.org/2021/stands/{{ .File.TranslationBaseName }}">Videos</a></li>
                        {{ end }}
                        {{ range .Pages }}
                        {{ if .Params.title }}
                        <li class="list-group-item"><a href="{{ .Permalink }}">{{ .Params.title }}</a></li>
                        {{ else }}
                        <li class="list-group-item"><a href="{{ .Permalink }}">{{ .File.TranslationBaseName }}</a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ if isset .Params "new_this_year" }}
    <div class="row mt-4">
        <div class="col">
            <h2>{{ .Params.Title }} in 2020</h2>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            {{ .Params.New_this_year | safeHTML }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}