{{ define "main" }}
<div class="container-fluid" id="main-image">
    <div class="row">
        <div class="col text-center mt-4">
            <img src="/img/white_logo.png">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 mt-4 mb-4 mx-auto text-center fosdem-subtitle-frame px-2 py-2">
            <span class="fosdem-subtitle">FOSDEM 2021 Stands</span>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12 fosdem-jumbotron">
            <h2>Welcome to the FOSDEM 2021 Stands website!</h2>
            <p></p>
        </div>
    </div>
    <div class="row mt-4 fosdem-themes">
        {{ range .Site.Taxonomies.themes }}
        <div class="col-sm-3">
            <div class="card mb-3 border-0" style="width: 18rem;">
                <img src="{{ .Page.Params.Logo | relURL }}" class="card-img" alt="{{ .Page.Title }} logo" />
                <div class="card-body">
                    <h5 class="card-title h6"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h5>
                    <p class="card-text text-justify">{{ .Page.Params.Description }}</p>
                </div>
            </div>
        </div>
    {{ end }}
    </div>
</div>
{{ end }}