{{ define "main" }}
<div class="container-fluid" id="main-image">
    <div class="row">
        <div class="col text-center mt-4">
            <img src="/img/white_logo.png">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 mt-4 mb-4 mx-auto text-center fosdem-subtitle-frame px-2 py-2">
            <span class="fosdem-subtitle">FOSDEM 2023 Stands</span>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron text-center" style="padding: 1rem;">
                <h2>Welcome to the FOSDEM 2023 Stands website!</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 fosdem-jumbotron">
            <p>
                FOSDEM 2023 will take place at the ULB on the 4th and 5th of February. Visit <a href="https://www.fosdem.org">www.fosdem.org</a>
                for more information.
            </p>
        </div>
    </div>
</div>
{{ end }}
