<div class="container-fluid mt-4" id="footer">
    <div class="row justify-content-center px-4 pt-4 mx-4 mt-4">
        <div class="col-2">
            <h3>FOSDEM</h3>
            <ul class="list-unstyled">
                <li class="home"><a accesskey="1" href="https://fosdem.org/2021/">Home</a></li>
                <li><a accesskey="2" href="https://fosdem.org/2021/news/">News</a></li>
                <li><a href="https://fosdem.org/2021/about/">About</a></li>
                <li><a href="https://fosdem.org/2021/about/sponsors/">Sponsors</a></li>
                <li><a href="https://fosdem.org/2021/support/donate/">Donate</a></li>
                <li><a accesskey="5" href="https://fosdem.org/2021/faq/">FAQ</a></li>
                <li><a href="https://fosdem.org/2021/archives/">Archives</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h3>This year</h3>
            <ul class="list-unstyled">
                <li><a accesskey="s" href="https://fosdem.org/2021/schedule/">Schedule</a></li>
                <li><a href="https://fosdem.org/2021/stands/">Stands</a></li>
                <li><a href="https://fosdem.org/2021/certification/">Certification exams</a></li>
                <li><a href="https://fosdem.org/2021/volunteer/">Volunteer</a></li>
                <li><a href="https://fosdem.org/2021/fringe/">Fringe</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h3>Practical information</h3>
            <ul class="list-unstyled">
                <li><a href="https://fosdem.org/2021/practical/accessibility/">Accessibility</a></li>
                <li><a href="https://fosdem.org/2021/practical/conduct/">Code of Conduct</a></li>
                <li><a href="https://fosdem.org/2021/practical/services/">During the Event</a></li>
                <li><a href="https://fosdem.org/2021/practical/jobcorner/">Job Corner</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h3>Media and press</h3>
            <ul class="list-unstyled">
                <li><a href="https://fosdem.org/2021/interviews/">Interviews</a></li>
                <li><a href="https://fosdem.org/2021/social/">Social media</a></li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center px-4 mx-4">
        <div class="col-8">
            <div class="media">
                <img src="{{ "cogweel.png" | relURL }}" alt="FOSDEM logo" class="mr-3"/>
                <div class="media-body pt-2">
                    <img src="{{ "fosdem21_bw.png" | relURL }}" alt="FOSDEM 21 logo"/>
                    <p class="mt-2">Online / <strong>6 & 7 February 2021</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center px-4 mx-4 mt-4" id="license">
        <div class="col-8">
            <div class="media">
                <img src="{{ "cclogo.png" | relURL }}" alt="cc-by-be logo" class="mr-3"/>
                <div class="media-body" id="license-text">
                    <p>
                        This work is licensed under the Creative Commons Attribution 2.0 Belgium Licence.
                        To view a copy of this licence, visit http://creativecommons.org/licenses/by/2.0/be/deed.en
                        or send a letter to Creative Commons, 444 Castro Street, Suite 900, Mountain View, California,
                        94041,
                        USA.
                        All content such as talks and biographies is the sole responsibility of the speaker.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>