<div class="container">
    <div class="row mb-4 px-4 py-4" id="header">
        <div class="col-2">
            <a href="/"><img src="{{ "fosdem21.png" | relURL }}" alt="FOSDEM 21 logo"/></a>
        </div>
        <div class="col text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/themes/">Themes</a></li>
                <li class="list-inline-item"><a href="/stands/">Stands</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/2021/">FOSDEM</a></li>
            </ul>
        </div>
    </div>
</div>