<div class="container">
    <div class="row mb-4 px-4 py-4" id="header">
        <div class="col-4">
            <a href="/"><img src="{{ "fosdem21.png" | relURL }}" alt="Go to the home page." class="mr-2" /> <span class="align-middle h2" style="font-weight: 700; color: #000000;">STANDS</span></a>
        </div>
        <div class="col text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/themes/">Per theme</a></li>
                <li class="list-inline-item"><a href="/stands/">All stands</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/2021/live">Back to FOSDEM</a></li>
            </ul>
        </div>
    </div>
</div>