<div class="container">
    <div class="row mb-4 px-4 py-4" id="header">
        <div class="col-2">
            <img src="{{ "fosdem21.png" | relURL }}" alt="FOSDEM 21 logo"/>
        </div>
        <div class="col text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://fosdem.org/2021/">Home</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/2021/about/">About</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/2021/news/">News</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/2021/schedule/">Schedule</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/2021/stands/">Stands</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/2021/volunteer/">Volunteer</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/2021/practical/">Practical</a></li>
            </ul>
        </div>
    </div>
</div>